
body#bg {
	background-image: url('./asset/images/screen.gif');
}

#tabs {
	background-color: #a8d5e5;
	color: #0f3c4c;
}

#fcolor{
	color: #0f3c4c;
}

#ffamily1{
	font-family: 'Kavoon', cursive;
}

#ffamily2{
	font-family: 'Open Sans', sans-serif;
}

#box-color{
	background-color: #138086;

}

html { 
scroll-behavior: smooth; 
}

video{
	width: 100% !important;
	height: auto !important;
	display: flex;
  	justify-content: center;
}